# Environment files
.envrc
.env
.env.*

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Binary files
gratitude-jar

# Logs
*.log

# Temporary files
*.tmp
*.temp 